# Stop on error
set -e

export AWS_PAGER=""

# Declare default variables
env_files=(".env" "override.env")

# Function to import environment variables from .env file
function import_env_vars(){
  
  IFS=$'\n'

  # Declare environment varibles from env files
  for env_file in ${env_files[@]}
  do
    if [ -f $env_file ]
    then
      for env_var in $(cat $env_file)
      do
        first_char=${env_var:0:1}
        if [[ ! $first_char == "#" ]]
        then
          export $env_var
        fi
      done
    fi
  done

  IFS=$' '
}

import_env_vars

